* {
  box-sizing: border-box;
  font-family: "Quantico", sans-serif;
}

.card {
  position: relative;
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.24),
    0 10px 10px rgba(255, 255, 255, 0.24);
  transition: box-shadow 850ms;
}

.details {
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 850ms;
  overflow: hidden;
}

.details:hover {
  opacity: 1;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.7),
    0 10px 10px rgba(255, 255, 255, 0.7);
}
.card-title {
  font-family: "Quantico", sans-serif;
  font-size: bold;
}

.modalContainer {
  transform: translateY(25%);
  background-color: #e0fbfc;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.2),
    0 10px 10px rgba(255, 255, 255, 0.32);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
