html {
  background: linear-gradient(
    to bottom right,
    #2c3e50,
    #fd746c,
    #ff8235,
    #ffff1c,
    #92fe9d,
    #00c9ff,
    #a044ff,
    #e73827
  );

  background-size: 1000% 1000%;
}

.title {
  font-family: "Nova Flat", cursive;

  font-weight: bold;
  color: #f1faee;
}

.exit {
  transition: 2000ms linear;
}
.exit:hover {
  width: 5rem;
}

.lupa {
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.lupa:hover {
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}
